<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderPlaceholder>
        <processor type="TheReference.DotNet.Sitecore.OutputCache.RenderPlaceholder.InitializePlaceholderStatistics, TheReference.DotNet.Sitecore.OutputCache" 
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.InitializeProfiling, Sitecore.Mvc']" />

        <processor type="TheReference.DotNet.Sitecore.OutputCache.RenderPlaceholder.RecordPlaceholderStatistics,TheReference.DotNet.Sitecore.OutputCache" 
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.PerformRendering, Sitecore.Mvc']" />
      </mvc.renderPlaceholder>

      <mvc.renderRendering>
        <processor type="TheReference.DotNet.Sitecore.OutputCache.RenderRendering.InitializeStatistics, TheReference.DotNet.Sitecore.OutputCache" 
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.InitializeProfiling, Sitecore.Mvc']" />

        <processor type="TheReference.DotNet.Sitecore.OutputCache.RenderRendering.RecordStatistics, TheReference.DotNet.Sitecore.OutputCache" 
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']" />

        <processor type="TheReference.DotNet.Sitecore.OutputCache.RenderRendering.ApplyClearOnIndexUpdate,TheReference.DotNet.Sitecore.OutputCache"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" />
        
        <processor type="TheReference.DotNet.Sitecore.OutputCache.RenderRendering.ApplyVaryByContext, TheReference.DotNet.Sitecore.OutputCache"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" />
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>